
body {
    background-color: rgb(0, 0, 0);
    max-width: 650px;
    margin: 0 auto;
    padding: 5vw;
    color: rgb(255, 255, 255);
    
}
body, input, button {
    font-family: "Science Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
h1 {
    font-family: "Science Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgb(255, 255, 255);
}